{% extends 'base.html' %}
{% load static %}
{% block title %}
    Решу ЕГЭ!
{% endblock %}
{% block content %}
    <h1 class="text-center">Графики и их свойства</h1>
    <div class="p-4 container">
        <div class="row">
            <div class="col">
                <div class="card border-warning">
                    <div class="card-body text-center">
                        <h3 class="position-relative text-center fw-bold">Прямая</h3>
                        <p class="text-white">dsadsadasda</p>
                        <div class="main-icon-without-slide icon-png-container pd-lv4

    " data-type="img" data-png="https://cdn-icons-png.flaticon.com/512/10588/10588994.png" data-id="10588994"
                             data-premium="">
                            <img src="   https://cdn-icons-png.flaticon.com/512/10588/10588994.png " width="256"
                                 height="256" alt="" title="" class="img-small">
                        </div>
                        <p class="text-white">dsadsadasda</p>
                        <a href="{% url 'kx' %}" class="btn btn-warning"><h5>Смотреть курс</h5></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-warning">
                    <div class="card-body text-center">
                        <h3 class="position-relative text-center fw-bold p-0">Парабола</h3>
                        <p class="text-white">dsadsadasda</p>
                        <div class="main-icon-without-slide icon-png-container pd-lv4

    " data-type="img" data-png="https://cdn-icons-png.flaticon.com/512/2939/2939187.png" data-id="2939187"
                             data-premium="">


                            <div class="main-icon-without-slide icon-png-container pd-lv4

    " data-type="img" data-png="https://cdn-icons-png.flaticon.com/512/5090/5090382.png" data-id="5090382"
                                 data-premium="">


                                <div class="main-icon-without-slide icon-png-container pd-lv4

    " data-type="img" data-png="https://cdn-icons-png.flaticon.com/512/5090/5090366.png" data-id="5090366"
                                     data-premium="">


                                    <div class="main-icon-without-slide icon-png-container pd-lv4

    " data-type="img" data-png="https://cdn-icons-png.flaticon.com/512/8994/8994729.png" data-id="8994729"
                                         data-premium="">


                                        <img src="   https://cdn-icons-png.flaticon.com/512/8994/8994729.png "
                                             width="256" height="256" alt="" title="" class="img-small">


                                    </div>


                                </div>


                            </div>


                        </div>

                        <p class="text-white">dsadsadasda</p>
                        <a href="{% url 'parabola' %}" class="btn btn-warning"><h5>Смотреть курс</h5></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-warning">
                    <div class="card-body text-center">
                        <h3 class="position-relative text-center fw-bold">Тригонометрия</h3>
                        <p class="text-white">dsadsadasda</p>
                        <img src="   https://cdn-icons-png.flaticon.com/512/5363/5363325.png " width="256" height="256"
                             alt="" title="" class="rounded-1">
                        <p class="text-white">dsadsadasda</p>
                        <a href="{% url 'trig' %}" class="btn btn-warning"><h5>Смотреть курс</h5></a>
                    </div>
                </div>
            </div>


        </div>
        <div class="p-4 container">
            <div class="row">
                <div class="col">
                    <div class="card border-warning">
                        <div class="card-body text-center">
                            <h3 class="position-relative text-center fw-bold">Логарифмы</h3>
                            <p class="text-white">dsadsadasda</p>
                            <div class="main-icon-without-slide icon-png-container pd-lv4

    " data-type="img" data-png="https://cdn-icons-png.flaticon.com/512/2106/2106605.png" data-id="2106605"
                                 data-premium="">


                                <img src="   https://cdn-icons-png.flaticon.com/512/2106/2106605.png " width="256"
                                     height="256" alt="" title="" class="img-small">


                            </div>
                            <p class="text-white">dsadsadasda</p>
                            <a href="{% url 'log' %}" class="btn btn-warning"><h5>Смотреть курс</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-warning">
                        <div class="card-body text-center">
                            <h3 class="position-relative text-center fw-bold p-0">Гипербола</h3>
                            <p class="text-white">dsadsadasda</p>
                            <div class="main-icon-without-slide icon-png-container pd-lv4

    " data-type="img" data-png="https://cdn-icons-png.flaticon.com/512/512/512670.png" data-id="512670" data-premium="">


                                <img src="   https://cdn-icons-png.flaticon.com/512/512/512670.png " width="256"
                                     height="256" alt="" title="" class="img-small">


                            </div>

                            <p class="text-white">dsadsadasda</p>

                            <a href="{% url 'giperbola' %}" class="btn btn-warning"><h5>Смотреть курс</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-warning">
                        <div class="card-body text-center">
                            <h3 class="position-relative text-center fw-bold">Модуль</h3>
                            <p class="text-white">dsadsadasda</p>
                            <img src="https://cdn-icons-png.flaticon.com/512/4090/4090353.png" width="256" height="256"
                                 alt="Математика бесплатно иконка" title="Математика бесплатно иконка">

                            <p class="text-white">dsadsadasda</p>
                            <a href="../cont/ln.html" class="btn btn-warning"><h5>Смотреть курс</h5></a>
                        </div>
                    </div>
                </div>


            </div>

{% endblock %}