{% extends 'base.html' %}
{% load static %}
{% block title %}
    Решу ЕГЭ!
{% endblock %}
{% block content %}
    <body background="../img/6.png"></body>
    <div class="pricing-header p-0 pb-md-0 mx-auto text-center">
        <h1 class="display-6 fw-bold">Пособие по профильной математике:</h1>
        <h1 class="display-6 fw-bold">"Решение параметрических конструкций"</h1>
        <p class="text - white">.</p>
        <p class="fs-3 fw-bold">Поможем каждому ученику научиться решать задание ЕГЭ №17!</p>
        <a class="btn btn-primary" href="{% url 'test' %}" role="button"><h3
                class="me-0.5 py-2 text-white text-decoration-none">Начать учиться</h3></a>
        <p class="text - white">.</p>
        <p class="display-6 fw-bold">Плюсы данного курса:</p>
    </div>
    <div class="d-flex p-2 bd-highlight">
        <p class="text - white">.</p>
        <img src="{% static 'index.png' %}" alt="">
        <p class="fs-4 fw-bold">7878787878787878</p>
        <p class="text-white">gfdgdfgdfgdfgdfgdfgdfgdfgdfgdfdfsffdsпвпвапвапвапвап</p>
        <img src="{% static 'index2.png' %}" alt="">
        <p class="fs-4 fw-bold">!ALERT!</p>
    </div>

{% endblock %}






