{% extends 'base.html' %}
{% load static %}
{% block title %}
    Решу ЕГЭ!
{% endblock %}
{% block content %}
    <style>
    .images {
        position: relative;
        left:10%
    }
     .images2 {
        position: relative;
        left:41%
    }
    </style>
    <body background="../users/static/6.png"></body>
    <div class="pricing-header p-0 pb-md-0 mx-auto text-center">
        <h1 class="display-6 fw-bold p-2 mt-5">Пособие по профильной математике:</h1>
        <h1 class="display-6 fw-bold">"Решение параметрических конструкций"</h1>
        <p class="fs-3 fw-bold mt-5 ">Поможем каждому ученику научиться решать задание ЕГЭ №17!</p>
        <a class="btn btn-primary mt-4 " href="{% url 'test' %}" role="button"><h3
                class="me-0.5 py-2 text-white text-decoration-none">Начать учиться</h3></a>
    </div>

        <img class="images" src="{% static 'index.png' %}" alt="">
        <img class = "images2" src="{% static 'index2.png' %}" alt="">
{% endblock %}






