{% extends 'base.html' %}
{% load static %}
{% block title %}
    Решу ЕГЭ!
{% endblock %}
{% block content %}
    <h1 class="text-center">Введение</h1>
    <div class="p-4">
    <div class="p-4 container">
    <div class="row">
    <div class="col">
        <div class="card border-warning card-hover">
            <div class="card-body text-center">
                <h3 class="position-relative text-center fw-bold">Вводная часть</h3>
                <p class="text-white">dsadsadasda</p>
                <img src="   https://cdn-icons-png.flaticon.com/512/12404/12404326.png " width="256"
                     height="256" alt="" title="" class="img-small">

                <p class="text-white">dsadsadasda</p>
                <a href="{% url 'vvodteor' %}" class="btn btn-warning"><h5>Смотреть курс</h5></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-warning card-hover">
            <div class="card-body text-center">
                <h3 class="position-relative text-center fw-bold p-0">Свойства</h3>
                <p class="text-white">dsadsadasda</p>
                <img src="   https://cdn-icons-png.flaticon.com/512/207/207193.png " width="256" height="256"
                     alt="" title="" class="img-small">
                <p class="text-white">dsadsadasda</p>
                <a href="{% url 'property' %}" class="btn btn-warning"><h5>Смотреть курс</h5></a>
            </div>
        </div>
    </div>


    </div>
{% endblock %}



