{% extends 'base.html' %}
{% load static %}
{% block title %}
    Решу ЕГЭ!
{% endblock %}
{% block content %}
<h1 class="text-center">Квадратичные конструкци</h1>
<br>
    <div class="p-4 container">
        <div class="row">
            <div class="col">
                <div class="card border-warning card-hover">
                    <div class="card-body text-center">
                        <h3 class="position-relative text-center fw-bold">Теория</h3>
                        <p class = "text-white">dsadsadasda</p>
                        <div class="main-icon-without-slide icon-png-container pd-lv4

    " data-type="img" data-png="https://cdn-icons-png.flaticon.com/512/830/830834.png" data-id="830834" data-premium="">


    <img src="   https://cdn-icons-png.flaticon.com/512/830/830834.png " width="256" height="256" alt="" title="" class="img-small">




</div>
                        <p class = "text-white">dsadsadasda</p>
                        <a href="{% url 'kvteor' %}" class="btn btn-warning"><h5>Смотреть курс</h5></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-warning card-hover">
                    <div class="card-body text-center ">
                        <h3 class="position-relative text-center fw-bold p-0">Практика</h3>
                        <p class = "text-white">dsadsadasda</p>
                        <img  src="   https://cdn-icons-png.flaticon.com/512/5363/5363325.png " width="256" height="256" alt="" title="" class = "rounded-1">
                        <p class = "text-white">dsadsadasda</p>

                        <a href="{% url 'kvprace' %}" class="btn btn-warning"><h5>Смотреть курс</h5></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-warning">
                    <div class="card-body text-center">
                        <h3 class="position-relative text-center fw-bold">Проверь себя</h3>
                        <p class = "text-white">dsadsadasda</p>
                        <div class="main-icon-without-slide icon-png-container pd-lv4

    " data-type="img" data-png="https://cdn-icons-png.flaticon.com/512/1916/1916232.png" data-id="1916232" data-premium="">


    <img src="   https://cdn-icons-png.flaticon.com/512/1916/1916232.png " width="256" height="256" alt="" title="" class="img-small">




</div>

                        <p class = "text-white">dsadsadasda</p>
                        <a href="cont/ln.html" class="btn btn-warning"><h5>Смотреть курс</h5></a>
                    </div>
                </div>
            </div>


</body>
</html>
 {% endblock %}           