{% extends 'base.html' %}
{% load static %}
{% block title %}
    Решу ЕГЭ!
{% endblock %}
{% block content %}
    <br>
    <h1 class="text-center">Графические конструкци</h1>
    <br>
    <div class="p-4 container">
        <div class="row">
            <div class="col">
                <div class="card border-warning card-hover">
                    <div class="card-body text-center">
                        <h3 class="position-relative text-center fw-bold">Графики и их свойства</h3>
                        <p class="text-white">dsadsadasda</p>
                        <div class="main-icon-without-slide icon-png-container pd-lv4

    " data-type="img" data-png="https://cdn-icons-png.flaticon.com/512/3320/3320937.png" data-id="3320937"
                             data-premium="">


                            <img src="   https://cdn-icons-png.flaticon.com/512/3320/3320937.png " width="256"
                                 height="256" alt="" title="" class="img-small">
                        </div>
                        <p class="text-white">dsadsadasda</p>
                        <a href="{% url 'grafic' %}" class="btn btn-warning"><h5>Смотреть курс</h5></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-warning card-hover">
                    <div class="card-body text-center">
                        <h3 class="position-relative text-center fw-bold p-0">Практика</h3>
                        <p class="text-white">dsadsadasda</p>
                        <img src="   https://cdn-icons-png.flaticon.com/512/5363/5363325.png " width="256" height="256"
                             alt="" title="" class="rounded-1">
                        <p class="text-white">dsadsadasda</p>

                        <a href="{% url 'grprac' %}" class="btn btn-warning"><h5>Смотреть курс</h5></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-warning card-hover">
                    <div class="card-body text-center">
                        <h3 class="position-relative text-center fw-bold">Проверь себя</h3>
                        <p class="text-white">dsadsadasda</p>
                        <div class="main-icon-without-slide icon-png-container pd-lv4

    " data-type="img" data-png="https://cdn-icons-png.flaticon.com/512/7404/7404733.png" data-id="7404733"
                             data-premium="">


                            <img src="   https://cdn-icons-png.flaticon.com/512/7404/7404733.png " width="256"
                                 height="256" alt="" title="" class="img-small">


                        </div>

                        <p class="text-white">dsadsadasda</p>
                        <a href="cont/ln.html" class="btn btn-warning"><h5>Смотреть курс</h5></a>
                    </div>
                </div>
            </div>


            </div>

{% endblock %}