{% extends 'base.html' %}
{% load static %}
{% block title %}
    Теория
{% endblock %}
{% block content %}
    <div class="container">
        <br>
    <h1 class="text-center">Введение в параметр</h1>
        <br>
     <div class="p-2 fw-semibold">
         <p class = 'fs-4' >Задача с параметром - одна из самых сложных задач в ЕГЭ. В ЕГЭ 2024 года это задача № 18.<br> Что же такое
        параметр? <br></p>Параметр - величина, числовые значения которой позволяют выделить определенный элемент
   Существуют 3 способа решения параметрических конструкций:
     1. Аналитический - процедура нахождения ответа в задачах без параметра <br>
    2. Графический - сводится к построению графика. Графики рассматриваются в координатах плоскости OXY или OXA <br>
    3. Решение относительно параметра x и a. Смотрим ограничения. Выбирается та переменная, относительно которой, легче
    решать уравнение <br>Существует два принципиально различных подхода – построение графиков функций или уравнений в плоскости (x; y) или в плоскости (x; a).
            <br> Кроме того,
            для графического метода решения задач с параметром в плоскости (x; y) необходимо рассмотреть различные виды преобразования графиков
            <br> – обычно
            это параллельный перенос, поворот прямой и гомотетия. Есть класс задач, решение которых основано на аналитических свойствах функций
            <br> (области определения, области значений, четности, периодичности и т.д.), эти свойства и приемы их использования тоже нужно знать.<br>
         <br><br><br>
         Рассмотрим простейшие задания, которые помогут понять, что такое параметр и как его решать
        <br></div>

        <p class="fw-semibold fs-5">Задание 1:</p>
    <div class="fw-semibold">
        Дано уравнение (a-1) * x = (a-2). Нужно выразить переменную x в общем виде и найте ее значение при a = 3 <br>
    x = (a-2)/(a-1). Подставим a = 3, тогда <br>
    x = (3-2)/(3-1); x = 1/2 <br>
    Теперь попробуем понять, как от a будет зависеть значения x, (a-1) находится в знаменателе и не должен быть равен 0,
            <br> тогда при a = 1, уравнение не будет иметь корней.
    Рассмотрим числитель (a-2), при a = 2, числитель будет = 0, тогда и x = 0. <br> Делаем вывод, что если a > 2 или a < 1 то x имеет одно значение. Таким образом, мы решили простейшее параметрическое уравнение
        <br>
    <p class="fw-semibold fs-5">Задание 2:</p> <br>
    Укажите все значения a, при которых уравнение ax - 2x = 3(x-1) имеет один корень. <br>
    Раскроем скобки и перенесем все в левую часть:
    ax - 2x - 3x + 3 = 0; Приведем подобные слагаемые, вынесем x за скобку <br>
    x(a - 5) + 3 = 0; Отсюда x = -3/(a-5); a-5 не должно быть ровно 0, тогда при a = 5 x не имеет корней, тогда уравнение ax - 2x = 3(x-1) имеет один корень, когда a != 5
        <br>
    При решении таких заданий, все сводится к тому, чтобы выразить одну переменную через другую и найти ОДЗ <br>
    Примерный алгоритм <br>
    1) Убедиться в том, что уравнение линейное <br>
    2) Перенести все x в одну сторону(если требуется) <br>
    3) Привести подобные слагаемые <br>
    4) Вынести общий множитель <br>
    5) Выразить x <br>
    6) Определить как от значения a зависит количество корней уравнения (Помнить, что знаменатель не должен быть равен 0)
        <br>
        </p>
    </div>
    </div>
    </div>
     </div>
    </div>
{% endblock %}